.mainContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:30vh;
}

.picAboo{

    font-size: 5rem;
    color:blue;
    
}

.mainContainer img {

    width:50vw;
    height: auto;
}