body html {

    margin:0;
    padding:0;
    box-sizing: border-box;
}

.content {

    background-image:url("./images/kristian-angelo-dining-scene-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;

} 


.tabMenu {

    background-color: rgba(101,136,100,.7);
    list-style: none;
    
}